# Nuxt dev/build outputs
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# 允許 .output 資料夾及其所有內容
!.output/
!.output/**